In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from yellowbrick.classifier import ConfusionMatrix

In [3]:
credito = pd.read_csv('../data/Credit.csv')
credito.shape

(1000, 21)

In [4]:
credito.head()

  checking_status  duration  ... foreign_worker class
0              <0         6  ...            yes  good
1        0<=X<200        48  ...            yes   bad
2   'no checking'        12  ...            yes  good
3              <0        42  ...            yes  good
4              <0        24  ...            yes   bad

[5 rows x 21 columns]

In [6]:
# Formato de matriz
previsoes = credito.iloc[:,0:20].values
classe = credito.iloc[:,20].values